/2024_Biometric_challenge_instructions.pdf
/Miniconda3-4.5.4-Linux-x86_64.sh
/__pycache__
/dente-francesco.jpg
/face_classifier_model_cannes_array_new.h5
/mmod_human_face_detector.dat
/shape_predictor_68_face_landmarks.dat
/testset
/vgg_face_weights.h5